body {
    font-family: Arial, Tahoma, sans-serif;
    background-color: white;
    margin: 0px;
}

h1 {
    text-align: center;
    padding: 30px;
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    margin-top: 100px;
    padding: 10px 0px 0px 0px;
}

.page-footer p {
    text-align: center;
}

/* NAVIGATION STYLING */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #282828;
    color: white;
}
 .navbar li {
    list-style: none;
    color: white;
}
 .navbar a {
    color: white;
    text-decoration: none;
    padding: 30px;
}

.navbar a:hover{
    color: lightblue;
}

/* PROJECT CARD STYLING */
#projectsPage {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-content: center;
    justify-content: center;
}

.project {
    background-color: aliceblue;
    border: 2px solid #282828;
    margin: 30px auto 30px auto;
    padding: 20px;
    display: flex;
    width: 75%;
}

.project-title {
    text-align: center;
}

.project-image {
    display: block;
    margin: 10px auto 10px auto;
}

.project-button {
    margin: 10px 10px 10px 0px;
    border: 2px offset lightgray;
    padding: 10px;
    background-color: lightgray;
}

.project-button a {
    color: black;
    text-decoration: none;
}
