@import "~bootstrap/scss/bootstrap";

#header, #header .container {
  background-color: lightblue;
  // height: 30rem;
}

body {
  background-color: lightgray;
}

.container {
  background-color: white;
}
